@import "./components/SavingBlobs.styl"
@import "./components/CentralControlBlobs.styl"
@import "./components/ExpandingMenu.styl"
@import "./components/PersonsSlideMenu.styl"

.pocopay-app
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  overflow hidden

.control-menu
  position absolute
  top 0
  left 0
  bottom 0
  right 0

  width 360px
  height 640px
  margin auto
